<nav class="navbar navbar-inverse navbar-fixed-top">
     <div class="container">
       <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
           <span class="sr-only">Toggle navigation</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand" href="#"><i class="fa fa-cloud"></i>&nbsp;Angular4在线拍卖</a>
       </div>
       <div id="navbar" class="navbar-collapse collapse">
         <ul class="nav navbar-nav">
            <li class="active"><a href="#">首页</a></li>
            <li><a href="#about">关于我们</a></li>
            <li><a href="#contact">联系我们</a></li>
            <li><a href="#map">网站地图</a></li>
          </ul>

         <ul class="nav navbar-nav navbar-right">
            <li class="searchProducts">
                <form class="navbar-form ">
                    <div class="input-group">
                       <input type="text" class="form-control" placeholder="Search...." >
                       <span class="input-group-addon btn btn-success" id=""><i class="fa fa-search"></i></span>
                   </div>
                </form>
            </li>
            <li class="login active"><a href="javascript:void(0);"><i class=" active glyphicon glyphicon-user"></i>&nbsp;&nbsp;登录</a></li>
            <!-- <li class="register active "><a href="javascript:void(0);"><i class="fa fa-power-off"></i>&nbsp;&nbsp;注销</a></li> -->
            <li class="register active"><a href="javascript:void(0);"><i class="fa fa-link"></i>&nbsp;&nbsp;注册</a></li>

          </ul>
       </div><!--/.navbar-collapse -->
     </div>
   </nav>
